.nav {
    background-color: #333;
    padding: 1rem;
    display: flex;
    gap: 20px;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .link:hover {
    color: #aaa;
  }